.header{
    display: flex;
    justify-content: space-between;

}

.logo{
    width: 120px;
}

.nav-items ul{
    display: flex;
    font-size: 22px;
}

.nav-items ul li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}
.Search{
    padding: 10px;
}
.res-card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
}