.header{
    display: flex;
    justify-content: space-between;

}

.logo{
    width: 120px;
}

.nav-items ul{
    display: flex;
    font-size: 22px;
}

.nav-items ul li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}